p {
  color: red;
}

.header {
  color: green;
}

/* rect:hover {
  fill: pink;
}

rect {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
} */

text {
  pointer-events: none;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

div#bod.moving {
  width: 500px;
  overflow-x: scroll;
}

div#bod p {
  color: pink;
}

.slider-p {
  display: inline-block;
}

.slider-input {
  height: 250px;
  width: 30px;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

.scatter-radio {
  margin-left: 40px;
}

/* .hiddeny {
  display: none;
  fill: black;
} */

#boddiv {
  float: left;
}

#side{
  float: left;
  color:  red;
}

#checkArea {
  /* padding-top: 200px; */
  /* display: inline; */
  /* position: absolute; */
  max-height: 300px;
  overflow-y: scroll;
}

.container {
  padding-top: 100px;
  position: absolute;
}
